/*
 * border radius
 */

 

.btn,
.jumbotron,

body{
  background-color: #f3f2ef;
}

.nav :hover {
  border-radius: 0px;
}

/* cart badge*/

.cart-badge,
.cart-badge:hover {
  border-radius: 50%;
  padding: 2px;
  font-size: 12px;
  font-style:normal;
  background: rgb(243, 224, 198);
}
/**
 * single product page- product name
 */

.name {
  background: #fcfcfc;
  color: #C0D8C0;
  font-weight: bold;
}
/* color new */
.mb-4{
  color:#728f72
}
.card{
  background-color: #fdfcfa;

}
/* search color */
.input-group-text{
  color:#3f602d;
}
/* search select color */
.btn{
  color:#728f72;
}
/* in card */
.btn-light {
  color:#5f9150;
}
/**
 * black shade form 10-1
 card stuff
 */
.black-10 {
  color: #275a27;
  font-size: larger;
  margin-bottom: 0%;
}

.black-9 {
  color: #728f72;
  margin-top: 0%;
  margin-bottom: 0%;
}

.black-8 {
  color: #85a385;
  background-color: #eef5ee;
  position: relative;
}

.black-7 {
  background: #F5EEDC;
}

.black-6 {
  background: #F5EEDC;
}

.black-5 {
  background: #F5EEDC;
}
/**
 * product image on card
 */

.product-img {
  min-height: 100px;
  width: 50%;
  height: 50%;
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}


.jumbotron h2 {
  margin-top: -20px;
}

@media only screen and (max-width: 600px) {
  .jumbotron h2 {
    margin-top: 10px;
  }
}
.map-text{
  color: #3f602d;
  font-size: 1.5em;
  margin-left: 18em;
}

.map{
  margin-left: 10em;
  /* border-radius: 50em; */
}
/*  footer*/
.me-5{
  margin-left: 22em;
}
/**
 * jumbotron animation
 */

.jumbotron {
  width: 30wh;
  height: 30vh;
  color: #fff;
  background: linear-gradient(-45deg, #ECB390,#e3917a, #eb8080, #e44545);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/*  stock stuff */



